/**
 * PressML Admin Styles
 *
 * @package PressML
 * @since 1.0.0
 */

.chrmrtns-pml-meta-box table {
    width: 100%;
}

.chrmrtns-pml-meta-box td {
    padding: 10px 5px;
}

.chrmrtns-pml-meta-box input[type="url"],
.chrmrtns-pml-meta-box input[type="text"] {
    width: 100%;
}

.chrmrtns-pml-info-box {
    background: #f0f0f1;
    padding: 15px;
    margin-top: 20px;
    border-left: 4px solid #2271b1;
}
